// @media (max-width: 768px) {
//   #main-nav {
//     display: grid;
//     grid-template-areas:
//       "logo logo"
//       "menu authentication";

//     .menu {
//       grid-area: menu;
//     }

//     .authentication {
//       grid-area: authentication;
//     }
//   }
// }

@media (max-width: 768px) {
  #main-nav {
    display: flex;
    flex-direction: column;

    .menu ul {
      transform: translateX(0) !important;
    }
  }

  .showcase {
    transform: translateY(-4rem);

    &-image {
      width: 60%;
      height: 60%;
    }
  }
}

@media (max-width: 600px) {
  #main-nav {
    .menu {
      li {
        margin: 0.5rem 0.6rem !important;
      }
    }
  }
  .showcase {
    &-image {
      display: none;
    }
  }
}
